.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  max-width: 450px;
}

.link {
  text-decoration: none;
  color: #282c34;
}
.link:hover {
  color: green;
  border-bottom: 1px solid green;
}

.active {
  color: green;
  border-bottom: 1px solid green;
}

.items {
  margin-right: 10px;
}
