.container{
    
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font:400 16px sans-serif;
}

.container span{
    color: green;
}

.img {
    display: inline-block;
    max-width: 400px;
    object-fit: cover;
}

.list{
    text-align: left;
}

.bold{
    font-weight: bold;
}

